<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336809538774-kidecu8t6upl2hso04kcg6l012a510n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336809538774-kidecu8t6upl2hso04kcg6l012a510n8</string>
	<key>API_KEY</key>
	<string>AIzaSyBuMxcy_UkBn0v-5TxZopoiIWd3L6Edpkk</string>
	<key>GCM_SENDER_ID</key>
	<string>336809538774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.paavya</string>
	<key>PROJECT_ID</key>
	<string>paavya-d9joeq</string>
	<key>STORAGE_BUCKET</key>
	<string>paavya-d9joeq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336809538774:ios:95a0e7a370778482a90577</string>
</dict>
</plist>